:root {
  --verde-0: #bde257;
  --verde-1: #99c12a;
  --verde-2: #78a109;
  --verde-3: #5b7c00;
  --verde-4: #3d5a00;
  --verde-5: #3eb13a;

  --cinza-0: #ffffff;
  --cinza-1: #c0c0c0;
  --cinza-2: #8b8b8b;
  --cinza-3: #505050;
  --cinza-4: #000000;

  --button: linear-gradient(#bde257, #3eb13a);
  --button-hover: linear-gradient(#a2c444, #30932d);
}
