:root{
  --verde-0: #BDE257;
  --verde-1: #99C12A;
  --verde-2: #78A109;
  --verde-3: #5B7C00;
  --verde-4: #3D5A00;
  --verde-5: #3EB13A;

  --cinza-0: #FFFFFF;
  --cinza-1: #C0C0C0;
  --cinza-2: #8B8B8B;
  --cinza-3: #505050;
  --cinza-4: #000000;

  --button: linear-gradient(#bde257, #3eb13a);
  --button-hover: linear-gradient(#a2c444, #30932d);
}