.vitrine-noticias {
  margin-top: 100px;
  margin-bottom: 100px;
}

.lista-cards {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  overflow-x: auto;
}

.lista-cards li {
  margin-bottom: 50px;
}

.lista-cards li:nth-last-child(1) {
  margin-right: 50px;
}

.card {
  width: 325px;
  text-align: center;
  border-radius: 50px;
  box-shadow: 20px 20px 50px -30px rgba(0, 0, 0, 0.5);
}

.card picture img {
  width: 325px;
  height: 200px;
  border-radius: 50px 50px 0px 0px;
}

.card h2 {
  margin: 15px 0px 5px 0px;
}

.card p {
  color: var(--cinza-3);
  padding: 0 20px;
}

.card .detalhes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 20px auto 0px auto;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.quartos span img,
.vagas span img,
.area span img {
  width: 28px;
  justify-self: center;
  margin: 0 auto;
}

.quartos p,
.vagas p,
.area p {
  text-align: center;
  justify-self: center;
}

.card a {
  display: inline-block;
  font-weight: bold;
  padding: 7px 80px;
  background: var(--button);
  color: var(--cinza-0);
  border-radius: 50px;
  margin: 20px 0px;
}

.card a:hover {
  background: var(--button-hover);
}

@media (max-width: 1125px) {
  .lista-cards {
    gap: 50px;
  }

  

  .card h2 {
    font-size: 1.25rem;
  }

  .card a {
    padding: 7px 40px;
  }

  .quartos span img,
  .vagas span img,
  .area span img {
    width: 24px;
  }
}

@media (max-width: 880px) {
  .card,
  .card picture img {
    width: 300px;
  }

  
}

@media (max-width: 768px) {
  .vitrine-noticias {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .lista-cards {
    gap: 30px;
  }
}

@media (max-width: 375px) {
  .card,
  .card picture img {
    width: 280px;
  }
}
